.popup__create {
    width: 358px;
    height: 50.15px;
    background-color: black;
    border-radius: 2px;
    margin: 19px auto 36px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
   
 
  
  }
  .popup__create:hover {
    opacity: .8;
    transition: .5s linear;
  }

  @media screen and (min-width: 568px) and (max-width: 812px) {
    .popup__create {
        margin-top: 2px;
    } 
    }
  @media screen and (min-width: 320px) and (max-width: 414px) {
    .popup__create {
        font-size: 14px;
        line-height: 17px;
        font-style: normal;
        font-weight: normal;
        width: 200px;
        margin-top: 36px;
       /* margin: 0 20px 30px 20px; */
      
    }
  }
