.header__link {
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
}
.header__link:hover{
    opacity: .6;
    transition: .5s linear;
}
.header__link:visited{
    color: #FFFFFF;
}