.header__text {
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-left:auto;
    margin-right: 24px;
    margin-top: 0;
    margin-bottom: 0;  
}