.register__form_button-submit {
    width: 358px;
    height: 50px;
    margin-top: 186px;
    border-radius: 2px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.register__form_button-submit:hover{
    opacity: .6;
    transition: .5s linear;
}