.popup__container {
    position: relative;
    font-family: 'Inter', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 430px; */
    margin: auto;
    /* top: 20%;
    left: 50%; */
    /* transform: translateX(-50%); */
    /*background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px; */
    box-sizing: border-box;
  

}

@media screen and (min-width: 320px) and (max-width: 414px){
  .popup__container {
    width: 282px;
    border-radius: 10px;

  }
}