.popup__container {
    position: relative;
    font-family: 'Inter', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 430px; */
    margin: auto;
    box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 414px){
  .popup__container {
    width: 282px;
    border-radius: 10px;

  }
}