.login__form_input {
    background-color: black;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    margin-bottom: 30px;
    padding: 0 0 13px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}