.popup__input-error_place-name{
    position: absolute;
    top: 156px;
    left: 34px;
}
@media screen and (min-width: 320px) and (max-width: 414px) {
    .popup__input-error_place-name{
        top: 122px;
        left: 18px;
    }
    
} 